.flexbox {
    display: flex;
    padding: 0;
    margin: 0;
}

html {
    background-color: #1e1e1e;
    color: white;
}

.noteSidebar {
    width: 20%;
    padding-left: 3px;
    padding-top: 20px;
}

.sidebarItem {
    font-size: large;
    padding-left: 15px;
    cursor: pointer;
}

.divider {
    border-top: 1px solid white;
}

.noteDisplay {
    width: 80%;
    padding-left: 5%;
    font-size: x-large;
    padding-top: 20px
}

header {
    font-size: xx-large;
    justify-content: center;
    background-color: #f5bb1b;

}

.headerItem {
    font-size: x-large;
}

.headerItems {
    justify-content: center;
    align-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    padding: 5px 5px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: large;
}

.searchInput {
    background-color: #1e1e1e;
    border: none;
    border-radius: 10px;
    font-size: large;
    padding: 5px 5px;
    color: #a9a9a9;
}

#createNoteDisplay {
    color: white;
    position: fixed;
    inset: 0;
    z-index: 100000;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    background-color: #f5bb1b;
    justify-content: center;
    font-size: xx-large;

}

body {
    margin: 0;
}

.horizontal-align {
    display: flex;
    justify-content: center;
}

.detailInput {
    font-size: large
}

.close-button {
    background: none;
    color: white;
}

#success-feedback {
    color: green;
    font-size: medium;
    margin-bottom: 3px;
}